<div class="container">
    <form>
      <h1 class="text-center my-3">Napisite zalbu</h1>
      <div class="mb-3">
        <label for="text" class="form-label">Tekst</label>
        <textarea type="text" class="form-control" id="text" rows="4" [(ngModel)]="complaintText" name="complaintText"></textarea>
      </div>
  
      <div class="row">
        <div class="col-6 mb-3">
          <label class="form-label">Kompanija</label>
          <select class="form-select" id="center" [(ngModel)]="selectedCompany" name="companyInput">
            <option></option>
            <option *ngFor="let company of companies" value="{{company.id}}">
              {{company.name}}
            </option>
          </select>
        </div>
  
        <div class="col-6 mb-3">
          <label class="form-label">Admin</label>
          <select class="form-select" id="adminInput" [(ngModel)]="selectedAdmin" name="selectedAdmin">
            <option></option>
            <option *ngFor="let admin of admins" value="{{admin.id}}">
              {{admin.name}} {{admin.lastName}}
            </option>
          </select>
        </div>
      </div>
  
      <button class="btn btn-primary" (click)="saveComplaint()">Potvrda</button>
  
    </form>
  </div>