<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ustanove">
      <h2 data-cy="ustanoveDetailsHeading"><span jhiTranslate="pacijentApp.ustanove.detail.title">Ustanove</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ustanove.id }}</span>
        </dd>
        <dt><span jhiTranslate="pacijentApp.ustanove.ime">Ime</span></dt>
        <dd>
          <span>{{ ustanove.ime }}</span>
        </dd>
        <dt><span jhiTranslate="pacijentApp.ustanove.adresa">Adresa</span></dt>
        <dd>
          <span>{{ ustanove.adresa }}</span>
        </dd>
        <dt><span jhiTranslate="pacijentApp.ustanove.telefon">Telefon</span></dt>
        <dd>
          <span>{{ ustanove.telefon }}</span>
        </dd>
        <dt><span jhiTranslate="pacijentApp.ustanove.email">Email</span></dt>
        <dd>
          <span>{{ ustanove.email }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ustanove', ustanove.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
